<%- partial('_partial/head') %>
<body>
  <div id="container" q-class="show:isCtnShow">
    <canvas id="anm-canvas" class="anm-canvas"></canvas>
    <div class="left-col" q-class="show:isShow">
      <%- fragment_cache('left-col', function(){
        return partial('_partial/left-col');
      }) %>
    </div>
    <div class="mid-col" q-class="show:isShow,hide:isShow|isFalse">
      <%- fragment_cache('mobile-nav', function(){
        return partial('_partial/mobile-nav');
      }) %>
      <div id="wrapper" class="body-wrap">
        <div class="menu-l">
          <div class="canvas-wrap">
            <canvas data-colors="#eaeaea" data-sectionHeight="100" data-contentId="js-content" id="myCanvas1" class="anm-canvas"></canvas>
          </div>
          <div id="js-content" class="content-ll">
            <%- body %>
          </div>
        </div>
      </div>
      <%- fragment_cache('footer', function(){
        return partial('_partial/footer');
      }) %>
    </div>
    <%- fragment_cache('after-footer', function(){
      return partial('_partial/after-footer');
    }) %>
    <%- fragment_cache('tools', function(){
      return partial('_partial/tools');
    }) %>
    <%- fragment_cache('viewer', function(){
      return partial('_partial/viewer');
    }) %>
  </div>
</body>
</html>