<div class="container body-wrap archives-wrap">
    <article class="page-article fade" itemprop="blogPage">
        <div class="post-content page-content" id="page-content" itemprop="pageContent">
            <section class="row">
                <div class="col-sm-10 col-sm-offset-1
                            col-md-8 col-md-offset-2
                            works-area">
                    <% for(var obj in site.data.project){ %>
                    <div class="works-item">
                        <div class="title">
                            <h3>
                                <%= site.data.project[obj].title %>
                            </h3>
                            <span class="title-date text-muted">
                                <%= site.data.project[obj].data %>
                            </span>
                        </div>
                        <div class="works-item-img">
                            <img src="<%= site.data.project[obj].img_link %>">
                        </div>
                        <div class="works-content">
                            <div class="use text-warning">
                                <% for (var arrayVal in site.data.project[obj].use ){ %>
                                <span>
                                        <%= site.data.project[obj].use[arrayVal] %>
                                    </span>
                                <% } %>
                            </div>
                            　
                            <p class="subtitle"> <%= site.data.project[obj].subTitle %> </p>
    
                            <p class="text-muted"> <%- site.data.project[obj].direction %> </p>
                        </div>
                        <div class="footer clearfix">
                            <a class=" btn btn-default" href="<%= site.data.project[obj].link %>" rel="noopener" target="_blank">打开</a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </section>
        </div>
    </article>
</div>
<%- partial('_partial/post/gitment', {
    key: 'works',
  }) %>