<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <link rel="dns-prefetch" href="<%= config.url %>">
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="催人老">
  <link rel="apple-touch-icon" href="uploads/logo.png">
  <meta name="msapplication-TileImage" content="uploads/logo.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">
  <meta name="Description" content="Author: hunter, Category: Blog, 时光只解催人老，不信多情, 石猴博客, 前端, FE, nodejs, angular5, typescript, javascript, worktile">
  <meta name="theme-color" content="#3f51b5">
  <link rel="preconnect" href="//api.ninesix.cc" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
    <link rel="manifest" href="/manifest.json">
  <%- partial('css') %>
  <style type="text/css">
  <% var defaultCtnBg = 'linear-gradient(200deg,#a0cfe4,#e8c37e)' %>
    #container.show {
      background: <%= theme.style && theme.style.slider ? theme.style.slider : defaultCtnBg %>;
    }
  </style>
  <%- partial('google-analytics') %>
  <%- partial('baidu-analytics') %>
</head>
