<% var defaultBg = 'url("/uploads/img-m.jpg") -26px center'; %>
<!-- <div class="overlay" style="background: <%= theme.style && theme.style.header ? theme.style.header : defaultBg %>;background-size: cover"></div> -->
<div class="overlay"></div>
<div class="intrude-less">
  <header id="header" class="inner">
    <a href="<%=theme.root%>" class="profilepic">
      <img src="<%=theme.avatar%>" alt='avatar' class="js-avatar">
    </a>
    <hgroup>
      <h1 class="header-author"><a href="<%=theme.root%>">
          <%=theme.author%></a></h1>
    </hgroup>
    <% if (theme.subtitle){ %>
    <!-- <script type="text/javascript" src="https://api.lwl12.com/hitokoto/main/get?encode=js&charset=utf-8"></script> -->
    <!-- <p class="header-subtitle"><script>lwlhitokoto()</script></p> -->
    <p class="header-subtitle">
      <%=theme.subtitle%>
    </p>

    <%}%>

    <nav class="header-menu">
      <ul>
        <% for (var i in theme.menu){ %>
        <li><a href="<%- url_for(theme.menu[i]) %>">
            <%= i %></a></li>
        <%}%>
      </ul>
    </nav>
    <nav class="header-smart-menu">
      <% for (var i in theme.smart_menu){ %>
      <% if(theme.smart_menu[i]){ %>
      <a q-on="click: openSlider(e, '<%-i%>')" href="javascript:void(0)">
        <%= theme.smart_menu[i] %></a>
      <% } %>
      <%}%>
    </nav>
    <nav class="header-nav">
      <div class="social">
        <% for (var i in theme.subnav){ %>
        <a class="<%= i %>" rel="noopener" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><i
            class="icon-<%= i %>"></i></a>
        <%}%>
      </div>
    </nav>
  </header>
</div>
